body {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
    margin: 0;
    background-color: lightskyblue; 
}



.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1{
    text-align: center;
    margin-top: 20px
}

form {
    text-align: center;
    margin-top: 20px; 
}
button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 50px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
}
.the_reg_Num{
    text-align: center;
    background-color: silver;
    padding-bottom: 150px;
}
.key_words{
    border-radius:  15px;
    height: 90px;
    padding-left: 10px;
    background-color: yellow; 
    border: 2px solid black;
    width: 150px;
    margin-bottom: 450px; 
    margin-right: 200px;
}
/* .registrationNumber{
    border: 2px solid black;
    padding: 5px;
    color: silver;
    
} */
.success{
    padding-bottom: 15px;
    font-size: medium;
}





.displayTowns{
    background-color: yellow; 
    border: 2px solid black; 
    width: 300px;
    height: 30px;
    margin-top: 50px ;
    text-align: center;
    margin-left: 100px;
}

.errors{
    color: red;
}

.alert_success{
  color: green;
}

.no-registrations{
    color: red; 
}